<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asiainfo.alarm.dao.coc.ICocAlarmDao">
    <select id="getSourceTableInfoCount" resultType="int">
        select
        count(*)
        from
        (
        select
        e.data_src_code sourceTableCode,
        e.data_src_tab_name sourceTableName,
        e.table_data_cycle dataCycle,
        max(f.data_source_time) dataDate
        from
        (
        select label_id from ci_label_info where data_status_id=2 and parent_id=-1
        union all
        select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info
        where data_status_id=2 and parent_id=-1)
        union all
        select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info
        where data_status_id=2 and parent_id in (select label_id from ci_label_info where data_status_id=2 and
        parent_id=-1))
        union all
        select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info
        where data_status_id=2 and parent_id in (select label_id from ci_label_info where data_status_id=2 and parent_id
        in (select label_id from ci_label_info where data_status_id=2 and parent_id=-1)))
        union all
        select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info
        where data_status_id=2 and parent_id in (select label_id from ci_label_info where data_status_id=2 and parent_id
        in (select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from
        ci_label_info where data_status_id=2 and parent_id=-1))))
        ) a
        left join ci_label_ext_info b on a.label_id=b.label_id
        left join dim_coc_label_count_rules c on b.count_rules_code=c.count_rules_code
        left join dim_coc_index_info d on c.depend_index=d.index_code
        left join dim_coc_index_table_info e on d.data_src_code=e.data_src_code
        left join dim_coc_data_source_status f on e.data_src_code=f.data_source_id
        where e.data_src_tab_name like '%'||#{sourceTableName}||'%'
        <if test="dataCycle!=0">
            and e.table_data_cycle=#{dataCycle}
        </if>
        group by e.data_src_code,e.data_src_tab_name,e.table_data_cycle
        )
    </select>
    <select id="getSourceTableInfo" resultType="com.asiainfo.alarm.model.CocSourceTable">
        select
        sourceTableCode,
        sourceTableName,
        dataCycle,
        dataDate
        from
        (
        select
        sourceTableCode,
        sourceTableName,
        dataCycle,
        dataDate,
        row_number() over(order by dataCycle,dataDate) row_number
        from
        (
        select
        e.data_src_code sourceTableCode,
        e.data_src_tab_name sourceTableName,
        e.table_data_cycle dataCycle,
        max(f.data_source_time) dataDate
        from
        (
        select label_id from ci_label_info where data_status_id=2 and parent_id=-1
        union all
        select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info
        where data_status_id=2 and parent_id=-1)
        union all
        select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info
        where data_status_id=2 and parent_id in (select label_id from ci_label_info where data_status_id=2 and
        parent_id=-1))
        union all
        select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info
        where data_status_id=2 and parent_id in (select label_id from ci_label_info where data_status_id=2 and parent_id
        in (select label_id from ci_label_info where data_status_id=2 and parent_id=-1)))
        union all
        select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info
        where data_status_id=2 and parent_id in (select label_id from ci_label_info where data_status_id=2 and parent_id
        in (select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from
        ci_label_info where data_status_id=2 and parent_id=-1))))
        ) a
        left join ci_label_ext_info b on a.label_id=b.label_id
        left join dim_coc_label_count_rules c on b.count_rules_code=c.count_rules_code
        left join dim_coc_index_info d on c.depend_index=d.index_code
        left join dim_coc_index_table_info e on d.data_src_code=e.data_src_code
        left join dim_coc_data_source_status f on e.data_src_code=f.data_source_id
        where e.data_src_tab_name like '%'||#{sourceTableName}||'%'
        <if test="dataCycle!=0">
            and e.table_data_cycle=#{dataCycle}
        </if>
        group by e.data_src_code,e.data_src_tab_name,e.table_data_cycle
        )
        ) where row_number between #{page.startPosition} and #{page.endPosition}
    </select>
    <select id="getSourceTableInfoByCode" parameterType="string" resultType="com.asiainfo.alarm.model.CocSourceTable">
		select
			a.data_src_code sourceTableCode,
			a.data_src_tab_name sourceTableName,
			a.table_data_cycle dataCycle,
			max(b.data_source_time) dataDate
		from dim_coc_index_table_info a
		left join dim_coc_data_source_status b on a.data_src_code=b.data_source_id
		where a.data_src_code=#{sourceTableCode}
		group by a.data_src_code,a.data_src_tab_name,a.table_data_cycle
	</select>

    <select id="querySourceTabNameByDataCyle" parameterType="map" resultType="Map">
        SELECT data_src_tab_name
        FROM dim_coc_index_table_info
        WHERE 1=1
        <if test="dataCycle != null and dataCycle != ''">
            and table_data_cycle = #{dataCycle}
        </if>
    </select>

    <select id="doesTableExist" resultType="Boolean">
        SELECT
        count(1)
        FROM
        syscat.tables
        WHERE 1=1
        <if test="null != tabSchema and '' != tabSchema">
            and lower(tabschema)=#{tabSchema}
        </if>
        <if test="null != tabName and '' != tabName">
            and lower(tabname)=#{tabName}
        </if>
    </select>

    <select id="isNotEmptyTable" resultType="Boolean" parameterType="String">
		SELECT
		count(*)
		FROM (SELECT 1
		FROM ${tabname}
		FETCH FIRST 1 ROWS ONLY)
	</select>

    <select id="querySourceTabNum" resultType="Integer" parameterType="Map">
        SELECT
        count(*)
        FROM
        dim_coc_index_table_info
        WHERE 1=1
        <if test="dataCycle != null and dataCycle != ''">
            and table_data_cycle = #{dataCycle}
        </if>
    </select>

    <select id="queryLabelNum" resultType="Integer">
        SELECT
        COUNT(*)
        FROM
        (
        select
        a.label_id AS labelId,
        f.label_name AS labelName,
        f.update_cycle AS dataCycle
        from
        (
        select label_id from ci_label_info where data_status_id=2 and parent_id=-1
        union all
        select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info
        where data_status_id=2 and parent_id=-1)
        union all
        select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info
        where data_status_id=2 and parent_id in (select label_id from ci_label_info where data_status_id=2 and
        parent_id=-1))
        union all
        select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info
        where data_status_id=2 and parent_id in (select label_id from ci_label_info where data_status_id=2 and parent_id
        in (select label_id from ci_label_info where data_status_id=2 and parent_id=-1)))
        union all
        select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info
        where data_status_id=2 and parent_id in (select label_id from ci_label_info where data_status_id=2 and parent_id
        in (select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from
        ci_label_info where data_status_id=2 and parent_id=-1))))
        )a left join
        ci_label_info f on a.label_id=f.label_id LEFT JOIN
        ci_label_ext_info b on a.label_id=b.label_id left join
        dim_coc_label_count_rules c on b.count_rules_code=c.count_rules_code left join
        dim_coc_index_info d on c.depend_index=d.index_code left join
        dim_coc_index_table_info e on d.data_src_code=e.data_src_code
        WHERE 1=1 and f.label_name like '%'||#{labelName}||'%'
        <if test="dataCycle != 0">
            and f.update_cycle=#{dataCycle}
        </if>
        and b.IS_STAT_USER_NUM = 1
        )
    </select>

    <select id="queryLabelInfo" resultType="com.asiainfo.alarm.model.CocLabel">
        SELECT
        labelId,
        labelName,
        dataCycle,
        dataDate,
        useTimes,
        srcTabName,
        srcTabCode,
        srcTabColName,
        customNum
        FROM
        (
        SELECT
        labelId,
        labelName,
        dataCycle,
        dataDate,
        useTimes,
        srcTabName,
        srcTabCode,
        srcTabColName,
        customNum,
        row_number() over(order by substr(srcTabCode,3) ASC ,labelId ASC ) AS row_number
        FROM
        (
        select
        a.label_id AS labelId,
        f.label_name AS labelName,
        f.update_cycle AS dataCycle,
        h.use_times AS useTimes,
        e.data_src_tab_name AS srcTabName,
        e.data_src_code as srcTabCode,
        d.data_src_col_name AS srcTabColName,
        <choose>
            <when test="dataCycle == 1">
                j.custom_num AS customNum,
            </when>
            <when test="dataCycle == 2">
                k.custom_num AS customNum,
            </when>
            <otherwise>
                CASE f.update_cycle
                WHEN 1 THEN j.custom_num
                WHEN 2 THEN k.custom_num
                END
                AS customNum,
            </otherwise>
        </choose>
        f.data_date AS dataDate
        from
        (
        select label_id from ci_label_info where data_status_id=2 and parent_id=-1
        union all
        select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info
        where data_status_id=2 and parent_id=-1)
        union all
        select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info
        where data_status_id=2 and parent_id in (select label_id from ci_label_info where data_status_id=2 and
        parent_id=-1))
        union all
        select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info
        where data_status_id=2 and parent_id in (select label_id from ci_label_info where data_status_id=2 and parent_id
        in (select label_id from ci_label_info where data_status_id=2 and parent_id=-1)))
        union all
        select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info
        where data_status_id=2 and parent_id in (select label_id from ci_label_info where data_status_id=2 and parent_id
        in (select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from
        ci_label_info where data_status_id=2 and parent_id=-1))))
        )a left join
        ci_label_info f on a.label_id=f.label_id LEFT JOIN
        ci_label_ext_info b on a.label_id=b.label_id left join
        dim_coc_label_count_rules c on b.count_rules_code=c.count_rules_code left join
        dim_coc_index_info d on c.depend_index=d.index_code left join
        dim_coc_index_table_info e on d.data_src_code=e.data_src_code left join
        (select label_id,count(*) as use_times from ci_user_use_label group by label_id) h on a.label_id=h.label_id
        <if test="dataCycle == 1 or dataCycle == 0">
            LEFT JOIN
            (select label_id,sum(custom_num) AS custom_num from ci_label_stat_dm_${dOpTime}
            where city_id=-1 and vip_level_id=-1 and brand_id=-1
            <if test="null != dDataDate and '' != dDataDate">
                and data_date=#{dDataDate}
            </if>
            group by label_id) j on a.label_id=j.label_id
        </if>
        <if test="dataCycle == 2 or dataCycle == 0">
            LEFT JOIN
            (select label_id,sum(custom_num) AS custom_num from ci_label_stat_mm_${mOpTime}
            where city_id=-1 and vip_level_id=-1 and brand_id=-1
            <if test="null != mDataDate and '' != mDataDate">
                and data_date=#{mDataDate}
            </if>
            group by label_id) k on a.label_id=k.label_id
        </if>
        WHERE f.label_name like '%'||#{labelName}||'%'
        <if test="dataCycle != 0">
            and f.update_cycle=#{dataCycle}
        </if>
        and b.IS_STAT_USER_NUM = 1
        )
        )
        WHERE row_number BETWEEN #{page.startPosition} AND #{page.endPosition}
    </select>

    <select id="queryPreCusNum" resultType="java.lang.Long">
        select sum(custom_num) AS custom_num from
        <choose>
            <when test="dataCycle == 1">
                ci_label_stat_dm_${opTime}
            </when>
            <when test="dataCycle == 2">
                ci_label_stat_mm_${opTime}
            </when>
        </choose>
        where city_id=-1 and vip_level_id=-1 and brand_id=-1
        <if test="null != dataDate and '' != dataDate">
            and data_date=#{dataDate}
        </if>
        <if test="labelId != 0">
            and label_id=#{labelId}
        </if>
    </select>

    <select id="doPreCusNumExist" resultType="Boolean">
        SELECT
        count(1)
        FROM
        (SELECT
        1 FROM
        <choose>
            <when test="dataCycle == 1">
                ci_label_stat_dm_${opTime}
            </when>
            <when test="dataCycle == 2">
                ci_label_stat_mm_${opTime}
            </when>
        </choose>
        WHERE 1=1
        <if test="null != dataDate and '' != dataDate">
            AND data_date=#{dataDate}
        </if>
        <if test="labelId != 0">
            AND label_id=#{labelId}
        </if>
        FETCH FIRST 1 ROWS ONLY )
    </select>

    <select id="queryRingNum" resultType="java.lang.Long">
        select ring_num AS ringNum from
        <choose>
            <when test="dataCycle == 1">
                ci_label_stat_dm_${opTime}
            </when>
            <when test="dataCycle == 2">
                ci_label_stat_mm_${opTime}
            </when>
        </choose>
        where city_id=-1 and vip_level_id=-1 and brand_id=-1
        <if test="null != dataDate and '' != dataDate">
            and data_date=#{dataDate}
        </if>
        <if test="labelId != 0">
            and label_id=#{labelId}
        </if>
    </select>

</mapper>