<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asiainfo.alarm.dao.coc.ICocAlarmDao">
    <select id="getSourceTableInfoCount" resultType="int">
		select
			count(*)
		from
		(
			select
				e.data_src_code sourceTableCode,
				e.data_src_tab_name sourceTableName,
				e.table_data_cycle dataCycle,
				max(data_source_time) dataDate
			from
			(
				select label_id from ci_label_info where data_status_id=2 and parent_id=-1
				union all
				select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info where data_status_id=2 and parent_id=-1)
				union all
				select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info where data_status_id=2 and parent_id=-1))
				union all
				select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info where data_status_id=2 and parent_id=-1)))
				union all
				select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info where data_status_id=2 and parent_id=-1))))
			) a
			left join ci_label_ext_info b on a.label_id=b.label_id
			left join dim_coc_label_count_rules c on b.count_rules_code=c.count_rules_code
			left join dim_coc_index_info d on c.depend_index=d.index_code
			left join dim_coc_index_table_info e on d.data_src_code=e.data_src_code
			left join dim_coc_data_source_status f on e.data_src_code=f.data_source_id
            where e.data_src_tab_name like '%'||#{sourceTableName}||'%'
            <if test="dataCycle!=0">
                and e.table_data_cycle=#{dataCycle}
            </if>
			group by e.data_src_code,e.data_src_tab_name,e.table_data_cycle
		)
	</select>
    <select id="getSourceTableInfo" resultType="com.asiainfo.alarm.model.CocSourceTable">
		select
			sourceTableCode,
			sourceTableName,
			dataCycle,
			dataDate
		from
		(
			select
				sourceTableCode,
				sourceTableName,
				dataCycle,
				dataDate,
				row_number() over(order by dataCycle,sourceTableCode desc) row_number
			from
			(
				select
					e.data_src_code sourceTableCode,
					e.data_src_tab_name sourceTableName,
					e.table_data_cycle dataCycle,
					max(data_source_time) dataDate
				from
				(
					select label_id from ci_label_info where data_status_id=2 and parent_id=-1
					union all
					select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info where data_status_id=2 and parent_id=-1)
					union all
					select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info where data_status_id=2 and parent_id=-1))
					union all
					select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info where data_status_id=2 and parent_id=-1)))
					union all
					select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info where data_status_id=2 and parent_id in (select label_id from ci_label_info where data_status_id=2 and parent_id=-1))))
				) a
				left join ci_label_ext_info b on a.label_id=b.label_id
				left join dim_coc_label_count_rules c on b.count_rules_code=c.count_rules_code
				left join dim_coc_index_info d on c.depend_index=d.index_code
				left join dim_coc_index_table_info e on d.data_src_code=e.data_src_code
				left join dim_coc_data_source_status f on e.data_src_code=f.data_source_id
				where e.data_src_tab_name like '%'||#{sourceTableName}||'%'
			    <if test="dataCycle!=0">
			        and e.table_data_cycle=#{dataCycle}
			    </if>
				group by e.data_src_code,e.data_src_tab_name,e.table_data_cycle
			)
		) where row_number between #{page.startPosition} and #{page.endPosition}
    </select>

	<select id="querySourceTabNameByDataCyle" parameterType="map" resultType="map">
		SELECT data_src_tab_name
		FROM dim_coc_index_table_info
		WHERE 1=1
		<if test="dataCycle != null and dataCycle != ''">
			and table_data_cycle = #{dataCycle}
		</if>
	</select>

	<select id="doesTableExist" resultType="boolean" parameterType="map">
		SELECT
		count(1)
		FROM
		syscatTables
		-- syscat.tables
		WHERE 1=1
		<if test="">
			and tabschema=#{tabschema}
		</if>
		<if test="">
			and tabname=#{tabname}
		</if>
	</select>

	<select id="isNotEmptyTable" resultType="boolean" parameterType="String">
		SELECT
		count(*)
		FROM (SELECT 1
		FROM ${tabname}
		FETCH FIRST 1 ROWS ONLY)
	</select>

	<select id="querySourceTabNum" resultType="integer" parameterType="map">
		SELECT
		count(*)
		FROM
		dim_coc_index_table_info
		WHERE 1=1
		<if test="dataCycle != null and dataCycle != ''">
			and table_data_cycle = #{dataCycle}
		</if>
	</select>

	<select id="queryLabelNum" resultType="integer" parameterType="map">
		SELECT
		count(*)
		FROM
		ci_label_info
		WHERE 1=1
		<if test="dataCycle != null and dataCycle != ''">
			and update_cycle = #{dataCycle}
		</if>
		and data_status_id = 2
	</select>

	<select id="queryLabelInfo" parameterType="map" resultType="map">
		select a.label_name,a.data_date,b.custom_num,e.data_src_tab_name,d.data_src_col_name,f.use_times from
		sccoc.ci_label_info a left join
		sccoc.ci_label_ext_info b on a.label_id=b.label_id left join
		sccoc.dim_coc_label_count_rules c on b.count_rules_code=c.count_rules_code left join
		sccoc.dim_coc_index_info d on c.depend_index=d.index_code left join
		sccoc.dim_coc_index_table_info e on d.data_src_code=e.data_src_code left join
		(select label_id,count(*) as use_times from sccoc.ci_user_use_label group by label_id) f on a.label_id=f.label_id
		where a.data_status_id = 2
		order by f.use_times desc
	</select>
</mapper>